/* --------------- LOCATION PAGE -------------------- */

#map {
  min-width: 350px;
  min-height: 350px;
  position: relative;
}

#injury_lineChart{
  width: 560px;
  height: 300;
}

.container-fluid3 {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left:0px;
  margin-right:0px;
}

.well {
  height: 90px;
  width: 90%;
  color: rgb(85, 83, 83);
  background-color: rgb(174, 175, 174);
}

h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #EE5A24;
  font-weight: bold;
  height: auto;
  text-shadow: 1px 1px grey ;

}

h5 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #064961;
  font-weight: bold;
  height: auto;
  text-shadow: 1px 1px grey ;
}